<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.SingerMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.Singer">
        <id property="id" column="singer_id" jdbcType="BIGINT"/>
        <result property="avatarPath" column="singer_avatar_path" jdbcType="VARCHAR"/>
        <result property="name" column="singer_name" jdbcType="VARCHAR"/>
        <result property="alias" column="singer_alias" jdbcType="VARCHAR"/>
        <result property="spell" column="singer_spell" jdbcType="VARCHAR"/>
        <result property="description" column="singer_description" jdbcType="VARCHAR"/>
        <result property="area" column="singer_area" jdbcType="TINYINT"/>
        <result property="genre" column="singer_genre" jdbcType="TINYINT"/>
        <result property="sex" column="singer_sex" jdbcType="TINYINT"/>
        <result property="songCount" column="singer_song_count" jdbcType="SMALLINT"/>
        <result property="albumCount" column="singer_album_count" jdbcType="SMALLINT"/>
        <result property="fanCount" column="singer_fan_count" jdbcType="INTEGER"/>
        <result property="createTime" column="singer_create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="singer_update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="singer_is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        singer_id
        ,singer_avatar_path,singer_name,
        singer_alias,singer_spell,singer_description,
        singer_area,singer_genre,singer_sex,
        singer_song_count,singer_album_count,singer_fan_count,
        singer_create_time,singer_update_time,singer_is_delete
    </sql>
</mapper>
