<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.SongMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.Song">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="singerListId" column="singer_list_id" jdbcType="VARCHAR"/>
        <result property="writerId" column="writer_id" jdbcType="BIGINT"/>
        <result property="composerId" column="composer_id" jdbcType="BIGINT"/>
        <result property="albumId" column="album_id" jdbcType="BIGINT"/>
        <result property="lyricId" column="lyric_id" jdbcType="BIGINT"/>
        <result property="imagePath" column="image_path" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="lang" column="lang" jdbcType="VARCHAR"/>
        <result property="genre" column="genre" jdbcType="VARCHAR"/>
        <result property="collectCount" column="collect_count" jdbcType="INTEGER"/>
        <result property="favourCount" column="favour_count" jdbcType="INTEGER"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <result property="publishTime" column="publish_time" jdbcType="DATE"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <!--    <resultMap id="SongCommentResultMap" type="com.dzy.model.vo.comment.CommentVO">-->
    <!--        <id property="id" column="id" jdbcType="BIGINT"/>-->
    <!--        <result property="singerListId" column="singer_list_id" jdbcType="VARCHAR"/>-->
    <!--        <result property="writerId" column="writer_id" jdbcType="BIGINT"/>-->
    <!--        <result property="composerId" column="composer_id" jdbcType="BIGINT"/>-->
    <!--        <result property="albumId" column="album_id" jdbcType="BIGINT"/>-->
    <!--        <result property="lyricId" column="lyric_id" jdbcType="BIGINT"/>-->
    <!--        <result property="imagePath" column="image_path" jdbcType="VARCHAR"/>-->
    <!--        <result property="title" column="title" jdbcType="VARCHAR"/>-->
    <!--        <result property="description" column="description" jdbcType="VARCHAR"/>-->
    <!--        <result property="lang" column="lang" jdbcType="VARCHAR"/>-->
    <!--        <result property="genre" column="genre" jdbcType="VARCHAR"/>-->
    <!--        <result property="collectCount" column="collect_count" jdbcType="INTEGER"/>-->
    <!--        <result property="favourCount" column="favour_count" jdbcType="INTEGER"/>-->
    <!--        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>-->
    <!--        <result property="publishTime" column="publish_time" jdbcType="DATE"/>-->
    <!--        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>-->
    <!--        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>-->
    <!--        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>-->
    <!--    </resultMap>-->

    <sql id="Base_Column_List">
        id
        ,singer_list_id,writer_id,
        composer_id,album_id,lyric_id,
        image_path,title,description,
        lang,genre,collect_count,
        favour_count,comment_count,publish_time,
        create_time,update_time,is_delete
    </sql>


    <!--    <select id="listCommentByPage" resultType="com.dzy.model.vo.comment.CommentVO">-->
    <!--        select u.id,-->
    <!--        u.image_id,-->
    <!--        i.avatar_path,-->
    <!--        u.nickname,-->
    <!--        u.sex,-->
    <!--        u.region,-->
    <!--        c.content,-->
    <!--        c.favour_count,-->
    <!--        c.publish_time-->
    <!--        from comment as c-->
    <!--        left join user_info as u-->
    <!--        on c.user_id = u.id-->
    <!--        left join user_image as i-->
    <!--        on i.user_id = u.id-->
    <!--        where c.id in-->
    <!--        <foreach collection="commentIdList" item="comment_id" index="index" open="(" close=")" separator=",">-->
    <!--            #{comment_id}-->
    <!--        </foreach>-->
    <!--    </select>-->

    <select id="listCommentByPage" resultType="com.dzy.model.vo.comment.CommentVO">
        select u.id,
               u.image_id,
               i.avatar_path,
               u.nickname,
               u.sex,
               u.region,
               c.content,
               c.favour_count,
               c.publish_time
        from comment as c
                 left join user_info as u
                           on c.user_id = u.id
                 left join user_image as i on i.user_id = u.id ${ew.customSqlSegment}
    </select>
</mapper>
