<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.SongMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.Song">
        <id property="id" column="song_id" jdbcType="BIGINT"/>
        <result property="singerListId" column="song_singer_list_id" jdbcType="VARCHAR"/>
        <result property="writerId" column="song_writer_id" jdbcType="BIGINT"/>
        <result property="composerId" column="song_composer_id" jdbcType="BIGINT"/>
        <result property="albumId" column="song_album_id" jdbcType="BIGINT"/>
        <result property="lyricId" column="song_lyric_id" jdbcType="BIGINT"/>
        <result property="imagePath" column="song_image_path" jdbcType="VARCHAR"/>
        <result property="title" column="song_title" jdbcType="VARCHAR"/>
        <result property="description" column="song_description" jdbcType="VARCHAR"/>
        <result property="lang" column="song_lang" jdbcType="VARCHAR"/>
        <result property="genre" column="song_genre" jdbcType="VARCHAR"/>
        <result property="collectionCount" column="song_collection_count" jdbcType="INTEGER"/>
        <result property="favourCount" column="song_favour_count" jdbcType="INTEGER"/>
        <result property="commentCount" column="song_comment_count" jdbcType="INTEGER"/>
        <result property="publishTime" column="song_publish_time" jdbcType="DATE"/>
        <result property="createTime" column="song_create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="song_update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="song_is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        song_id
        ,song_singer_list_id,song_writer_id,
        song_composer_id,song_album_id,song_lyric_id,
        song_image_path,song_title,song_description,
        song_lang,song_genre,song_collection_count,
        song_favour_count,song_comment_count,song_publish_time,
        song_create_time,song_update_time,song_is_delete
    </sql>
</mapper>
