<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.UserCommentMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.UserComment">
        <id property="id" column="user_cmt_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_cmt_user_id" jdbcType="BIGINT"/>
        <result property="content" column="user_cmt_content" jdbcType="VARCHAR"/>
        <result property="favourCount" column="user_cmt_favour_count" jdbcType="BIGINT"/>
        <result property="publishTime" column="user_cmt_publish_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="user_cmt_create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="user_cmt_update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="user_cmt_is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_cmt_id
        ,user_cmt_user_id,user_cmt_content,
        user_cmt_favour_count,user_cmt_publish_time,user_cmt_create_time,
        user_cmt_update_time,user_cmt_is_delete
    </sql>
</mapper>
