<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.UserInfo">
            <id property="id" column="user_info_id" jdbcType="BIGINT"/>
            <result property="imageId" column="user_info_image_id" jdbcType="BIGINT"/>
            <result property="nickname" column="user_info_nickname" jdbcType="VARCHAR"/>
            <result property="description" column="user_info_description" jdbcType="VARCHAR"/>
            <result property="account" column="user_info_account" jdbcType="VARCHAR"/>
            <result property="password" column="user_info_password" jdbcType="VARCHAR"/>
            <result property="sex" column="user_info_sex" jdbcType="TINYINT"/>
            <result property="region" column="user_info_region" jdbcType="VARCHAR"/>
            <result property="phone" column="user_info_phone" jdbcType="VARCHAR"/>
            <result property="email" column="user_info_email" jdbcType="VARCHAR"/>
            <result property="address" column="user_info_address" jdbcType="VARCHAR"/>
            <result property="birthday" column="user_info_birthday" jdbcType="DATE"/>
            <result property="attentionCount" column="user_info_attention_count" jdbcType="INTEGER"/>
            <result property="fanCount" column="user_info_fan_count" jdbcType="INTEGER"/>
            <result property="friendCount" column="user_info_friend_count" jdbcType="INTEGER"/>
            <result property="visitorCount" column="user_info_visitor_count" jdbcType="INTEGER"/>
            <result property="createTime" column="user_info_create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="user_info_update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="user_info_is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_info_id,user_info_image_id,user_info_nickname,
        user_info_description,user_info_account,user_info_password,
        user_info_sex,user_info_region,user_info_phone,
        user_info_email,user_info_address,user_info_birthday,
        user_info_attention_count,user_info_fan_count,user_info_friend_count,
        user_info_visitor_count,user_info_create_time,user_info_update_time,
        user_info_is_delete
    </sql>
</mapper>
