<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.mapper.UserAuthorityMapper">

    <resultMap id="BaseResultMap" type="com.dzy.model.entity.UserAuthority">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userRole" column="user_role" jdbcType="TINYINT"/>
        <result property="showHome" column="show_home" jdbcType="TINYINT"/>
        <result property="showCollect" column="show_collect" jdbcType="TINYINT"/>
        <result property="showSonglist" column="show_songlist" jdbcType="TINYINT"/>
        <result property="showRegion" column="show_region" jdbcType="TINYINT"/>
        <result property="showSex" column="show_sex" jdbcType="TINYINT"/>
        <result property="showComment" column="show_comment" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,user_role,
        show_home,show_collect,show_songlist,
        show_region,show_sex,show_comment,
        create_time,update_time,is_delete
    </sql>
</mapper>
